{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/polls_list.css' %}">
{% endblock %}

{% block content %}
<body>
  <header>
    <div class="header-content">
      <p>Система голосування</p>

      <div>
        {% if user.is_authenticated %}
          <form method="post" action="{% url 'polls:logout' %}">
            {% csrf_token %}
            <button class="back" type="submit">Вийти</button>
          </form>
        {% endif %}
      </div>
    </div>
  </header>

  <main>
    {% if polls %}
      <div class="cards">
        {% for p in polls %}
          <div class="card">
            <div class="card-content1">
            <p>{{ p.title }}</p>
            {% if p.short_description %}<p><span class="gray">{{ p.short_description }}</span></p>{% endif %}
            <div>
              <small>
                  <span class="gray">Статус:</span> {{ p.get_status_display }}
              </small>
            </div>
            </div>
            <a class="vote-button" href="{% url 'polls:detail' p.pk %}">Голосувати</a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="no-voting">
        <p>Немає активних голосувань</p>
      </div>
    {% endif %}
  </main>

  <footer>
    <div class="footer-content">
      <p>
        &copy; 2025 Система голосування. Всі права захищені.
      </p>
      <p>
        Система голосування
      </p>
      <p>
        <a href="mailto:bohdan.horon@lnu.edu.ua">bohdan.horon@lnu.edu.ua</a> <br>
        <a href="mailto:arsenii.muska@lnu.edu.ua">arsenii.muska@lnu.edu.ua</a>
      </p>
    </div>
  </footer>
</body>
{% endblock %}
