{% extends "base.html" %}
{% block content %}
<h1>Активні голосування</h1>

{% if user.is_authenticated %}
  <form method="post" action="{% url 'polls:logout' %}" style="margin-bottom: 20px;">
    {% csrf_token %}
    <button type="submit">Вийти з облікового запису</button>
  </form>
{% endif %}

{% if polls %}
  <div class="cards">
    {% for p in polls %}
      <div class="card">
        <h3><a href="{% url 'polls:detail' p.pk %}">{{ p.title }}</a></h3>
        {% if p.short_description %}<p>{{ p.short_description }}</p>{% endif %}
        <div>
          <small>
              {% comment %} Початок: {{ poll.start_at|date:"d.m.Y H:i" }},
              Кінець: {{ poll.end_at|date:"d.m.Y H:i" }} {% endcomment %}
              Статус: {{ p.get_status_display }}
          </small>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Немає активних голосувань.</p>
{% endif %}
{% endblock %}
