{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ap_list.css' %}">
{% endblock %}

{% block content %}
<body>
  <header>
    <div class="header-content">
      <p>Система голосувань</p>

      <div>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="back" type="submit">Вийти</button>
        </form>
      </div>
    </div>
  </header>

  <main>
    <article id="my_polls">
      <div class="polls_header">
        <h1>Мої голосування</h1>
        <a href="{% url 'adminpanel:create' %}">Створити</a>
      </div>
      {% if polls %}
        <div class="polls_content">
          {% for p in polls %}
            <div class="poll">
              <div class="poll_head">
                <p>{{ p.title }}</p>
                <div class="poll_active">{{ p.get_status_display }}</div>
              </div>
              {% if p.short_description %}<p>{{ p.short_description }}</p>{% endif %}
              <div class="poll_statuses">
                <div><p class="lightgray">Початок:</p> {{ p.start_at|date:"d.m.Y H:i" }}</div>
                <div><p class="lightgray">Кінець:</p> {{ p.end_at|date:"d.m.Y H:i" }}</div>
                <div><p class="lightgray">Варіантів:</p> {{ p.options.count }}</div>
              </div>
              <a class="poll_button" href="{% url 'adminpanel:detail' p.pk %}">Відкрити</a>
            </div>
          {% endfor %}
        </div>
      {% else %}
      <div class="no-voting">
        <p>Поки що немає опитувань</p>
      </div>
      {% endif %}
    </article>
  </main>

  <footer>
    <div class="footer-content">
      <p>
        &copy; 2025 Система голосування. Всі права захищені.
      </p>
      <p>
        Система голосування
      </p>
      <p>
        <a href="mailto:bohdan.horon@lnu.edu.ua">bohdan.horon@lnu.edu.ua</a> <br>
        <a href="mailto:arsenii.muska@lnu.edu.ua">arsenii.muska@lnu.edu.ua</a>
      </p>
    </div>
  </footer>
</body>
{% endblock %}