@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (max-width: 750px) {
    .footer-content {
        flex-direction: column;
        gap: 2em;
    }
    .footer-content a {
        line-height: 2;
    }
}

.gray {
    color: hsl(240, 2%, 52%);
}
.lightgray {
    color: hsl(240, 2%, 82%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    background: hsl(224, 46%, 21%);
}
.header-content {
    margin: 0 auto;
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
}
.header-content div{
    display: flex;
    gap: 1em;
}
header .back {
    text-decoration: none;
    padding: 0.75em 2em;
    border-radius: 15px;
    font: inherit;
    color: white;
    background: #5b7fff;
    border: none;
}
header .back:hover {
    background: #6b8aff;
}

main {
    background: hsl(229, 34%, 15%);
    display: flex;
    flex: 1;
    flex-direction: column;
}

#my_polls {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3em 2em;
}

.polls_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    margin-bottom: 3em;
}

.polls_header a {
    display: block;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 15px;
    font: inherit;
    color: white;
    background: #5b7fff;
    border: none;
    cursor: default;
}
.polls_header a:hover {
    background: #6b8aff;
}

.polls_content {
    display: flex;
    width: 100%;
    max-width: 1250px;
    flex-wrap: wrap;
    gap: 30px;
}

.poll {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background: hsl(224, 46%, 25%);
    justify-content: space-between;
    border-radius: 10px;
    flex: 0 0 calc(50% - 15px);
    gap: 1.5em;
}
.poll_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.poll_active {
    border-radius: 5px;
    background-color: green;
    padding: 0.25em 0.5em;
}
.poll_statuses {
    line-height: 2;
}
.poll_statuses div {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.poll_button {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 1em 2em;
    border-radius: 15px;
    font: inherit;
    color: white;
    background: #5b7fff;
    cursor: default;
    border: none;
}
.poll_button:hover {
    background: #6b8aff;
}

@media (max-width: 750px) {
    .poll { 
        flex: 0 0 100%; 
    }
}

.no-voting {
    color: hsl(240, 2%, 62%);
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

footer {
    background: hsl(224, 46%, 17%);
}

.footer-content {
    color: hsl(240, 2%, 42%);
    display: flex;
    padding: 1.5em 2em;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}
.footer-content p a {
    color: hsl(240, 2%, 42%);
    text-decoration: none;
}

.footer-content p a:hover {
    color: #8092eb;
}