@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (max-width: 750px) {
    .footer-content {
        flex-direction: column;
        gap: 2em;
    }
    .footer-content a {
        line-height: 2;
    }
}

.gray {
    color: hsl(240, 2%, 52%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    background: hsl(224, 46%, 21%);
}
.header-content {
    margin: 0 auto;
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
}
.header-content div{
    display: flex;
    gap: 1em;
}
header .back {
    text-decoration: none;
    padding: 0.75em 2em;
    border-radius: 15px;
    font: inherit;
    color: white;
    background: #7c5cff;
    border: none;
}
header .back:hover {
    background: #8b6fff;
}

main {
    background: hsl(229, 34%, 15%);
    display: flex;
    flex: 1;
    flex-direction: column;
}

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3em 2em;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    border-radius: 20px;
    background: hsl(224, 46%, 25%);
    padding: 2em;
    line-height: 2.25;
    margin-bottom: 2em;
}

.vote-button {
    margin-right: 1em;
    padding: 0.5em 1.5em;
    border-radius: 20px;
    font: inherit;
    color: white;
    background: #5b7fff;
    border: none;
    text-decoration: none;
    cursor: default;
}
.vote-button:hover {
    background: #6b8aff;
}

.no-voting {
    color: hsl(240, 2%, 62%);
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

footer {
    background: hsl(224, 46%, 17%);
}

.footer-content {
    color: hsl(240, 2%, 42%);
    display: flex;
    padding: 1.5em 2em;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}
.footer-content p a {
    color: hsl(240, 2%, 42%);
    text-decoration: none;
}

.footer-content p a:hover {
    color: #8092eb;
}